<div>
    <h1>
        Registro Usuario
    </h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register_Form">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')"
              >El email es obligatorio</mat-error
            >
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
              >Formato inválido</mat-error
            >
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')"
              >La contraseña es obligatoria</mat-error
            >
          </mat-form-field>
      
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
            Registrarse
          </button>

          <button mat-stroked-button color="accent" type="button" routerLink="/login">
            Volver al login
          </button>
      
    </form>
</div>